p{
    background-color: aqua;
}

a{
    background-color: rgb(228, 163, 163);
}

div{
    background-color: yellow;
}

span{
    background-color: rgb(212, 98, 212);
    color: whitesmoke;
}
